@import "tailwindcss";

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(13, 13, 13, 0.6),
    rgba(50, 50, 50, 0.5)
  );

  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-Right {
  animation: slideRight 1s ease-out forwards;
}

.slide-Up {
  animation: slideUp 0.8s ease-in-out forwards;
}
